{% extends 'base.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="confine">MWEHEHEHEHEHEHEHE </h1>
    <div class="row">
            {% for product in products %}
                <div class="col-4 black">
                     <div class="card">
                         <div class="card-body">
                            <p class="card-title">{{ product }}</p>
                        </div>
                     </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}